*{	
margin:0px;
padding:0px;
}

#cabecera{
	width:100%;
}

nav{
	background-color:darkturquoise;
	font-size:16px;
	font-weight:bold;
	padding:10px;
	
}

body{
	background-color:azure;
}
	
a{
	text-decoration: none;
	padding: 10px;
}

h1{
color:darkcyan;
text-align:center;

}

.subtitulo{
text-align:center;
text-decoration:underline;
}

.descripcion{
	padding-right:5%;
	padding-left:5%;
	padding-top:10px;
	font-size: 18px;
	font-weight:700;
	float:left;
	width:90%;
	text-align:justify;
    
}

#imagenindex{
	width:50%;
	float:left;

}
#img01{
	width:80%;
}
#img02{
	width:60%;
	padding-left:20%;
}



#descripcion01{
	padding-right:5%;
	padding-left:5%;
	padding-top:10px;
	font-size: 18px;
	font-weight:700;
	width:40%;
	float:left;
	text-align:justify;
	
}

.formulario{
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:15px;
	padding:10px;
}

fieldset{
	border:0px;
}

#contenedor_multimedia{
	width:100%;
	text-align:center;
}
	
#multimedia{
	width:560px; 
	height:315px;
}

#datos{
	width:100%;
	text-align:center;
}

#tabla{
	width:50%; 
	margin: auto;
	border:1px solid;
}
	
footer{
	width:98%;
	padding:1%;
	position:relative;
	left:0px;
	bottom:0px;
	margin-top:10px;
}
	
#copy{
	width:50%;
	text-align:left;
	float:left;
}	

#iconos{
	width:50%;
	text-align:right;
	float: right;
}	
	
.icon{
	width:25px;
	height:25px;
}
#texto1{
	padding-right:5%;
	padding-left:5%;
	padding-top:10px;
	font-size: 18px;
	font-weight:700;
	width:40%;
	float:left;
	text-align:justify;
	height:350px;
	
	
}
#texto2{
	padding-right:5%;
	padding-left:5%;
	padding-top:10px;
	font-size: 18px;
	font-weight:700;
	width:40%;
	float:right;
	text-align:justify;
	height:350px;
	
}
#img_r1{
	width:50%;
	height:350px;
	float:right;
}
#img_r2{
	width:50%;
	float:left;
	height:350px;
	
}
#imgr1{
	width:80%;
	padding-left:10%;
	
}
#imgr2{
	width:80%;
	padding-left:10%;
}
#ym1{
	width:100%;
	
}
#m1{
	width:60%;
	margin-left:20%;
}
#img_estacion{
	width:100%;
	
}
#estacion{
	width:70%;
	margin-left:15%;
}
button{
	padding:10px;
	background-color:darkturquoise;
	font-weight:bold;
}




